<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <title>About us</title>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<section class="about-us-section" id="about-us">
    <h2>About Our Services</h2>
    <p>Online Shop works exclusively with trusted manufacturers, ensuring the latest series, including limited must-have. <br>The selection in our store is very thorough and well thought out, <br>based on timeless design, functionality, natural materials and original solutions. </p>
    <div class="services-container">
        <div class="service">
            <i class="fas fa-truck"></i>
            <h4>Delivery Services</h4>
        </div>
        <div class="service">
            <i class="fas fa-exchange-alt"></i>
            <h4>Shipping and Returns</h4>
        </div>
        <div class="service">
            <i class="fas fa-percentage"></i> <h4>Promotion</h4>
        </div>
        <div class="service">
            <i class="fas fa-user"></i> <h4>24 Hours Service</h4>
        </div>
    </div>
</section>

<section class="shop-section">
    <h2>About Our Products</h2>
    <p>Discover unique handcrafted treasures, from intricately woven textiles to delicately carved woodwork, <br> each imbued with the passion and dedication of its creator. Whether you're seeking a special gift or <br>adding a touch of artisanal charm to your home, our marketplace is your gateway to a world of craftsmanship and authenticity.</p>
    <img src="https://png.klev.club/uploads/posts/2024-03/png-klev-club-p-oyu-rnek-png-6.png" alt="" />
</section>

<section class="our-brands-section">
    <h2>Our Brands & Partners</h2>
    <p>Business partner relationships are important connections and resources as we conduct our jobs, <br> plan for the future, and build our knowledge about products, changes and trends.</p>
    <div class="brands-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNcXQ3RT1sFH5t1anm9RTCJf4EGAzxDSvKdzH9Sw-KxQ&s" alt="" />
        <img src="https://new.lyubimiigorod.ru/images/cards/5fd3ac4e007ab.png" alt="" />
        <img src="https://companieslogo.com/img/orig/KKS.F_BIG-3e3f7333.png?t=1685426980" alt="" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_Cazs0HJ7Gn3SNjTVLqJAVul8WnYxD57GPyQutsdTJg&s" alt="" />
    </div>
</section>

<%- include("includes/footer.ejs") %>

</body>
</html>
